{% extends "index/base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Suscipit impedit incidunt, officiis sequi, ipsum repellat alias asperiores aliquid illo 
    similique corporis omnis accusantium adipisci modi eaque. Nisi animi officia dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Suscipit impedit incidunt, officiis sequi, ipsum repellat alias asperiores aliquid illo 
    similique corporis omnis accusantium adipisci modi eaque. Nisi animi officia dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Suscipit impedit incidunt, officiis sequi, ipsum repellat alias asperiores aliquid illo 
    similique corporis omnis accusantium adipisci modi eaque. Nisi animi officia dolor!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Suscipit impedit incidunt, officiis sequi, ipsum repellat alias asperiores aliquid illo 
    similique corporis omnis accusantium adipisci modi eaque. Nisi animi officia dolor!
</div>

{% endblock content %}
