{% extends "index/base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row my-5">
        {% for product in products %}
            {% if forloop.first %}<div class="row">{% endif %}
                <div class="col-md-4 mt-3">
                    <a href="{% url 'product-details' product.id %}">
                        <img class="img-fluid products" src="{{ product.image.url }}" alt="product image">
                    </a>
                    <a class="title" style="text-decoration:none; color:inherit;" href="{% url 'product-details' product.id %}">{{ product.title|truncatechars:30 }}</a>
                    <p class="price">€{{ product.price }}</p>
                </div>
            {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}
