{% extends "index/base.html" %}
{% block content %}

<div class="container">
    <h1 style="text-align: center;">{{product.title}} description</h1>
    
    <img src="{{ product.image.url }}" style="width: 300px; height: 400px;" alt="product image">
    <p>Created by {{ product.owner }}</p>
    <p>{{ product.title }}</p>
    <h3>€{{ product.price }}</h3>
    <p>{{ product.description }}</p>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'product-update' product.id %}">Update</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'product-delete' product.id %}">Delete</a>
</div>

{% endblock content %}
